.google-adsense-free{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;	
}
.google-adsense{
	display: inline;
	display: inline-block;
	*zoom: 1;
}
.google-adsense.right{
	left: auto;
	right: 0;
}
.google-adsense.right_bottom{
	top: auto;
	left: auto;
	right: 0;
	bottom: 0;
}
.google-adsense.bottom_center{
	top: auto;
	right: 0;
	bottom: 0;
	margin: 0 auto;
}
.google-adsense.bottom{
	top: auto;
	bottom: 0;
}
.google-adsense.bottom_left{
	top: auto;
	bottom: 0;
}